[submodule "modules/commons"]
	path = modules/commons
	url = https://github.com/jjute/commons
	branch = develop
[submodule "modules/git-bash"]
	path = modules/git-bash
	url = https://github.com/jjute/git-bash
	branch = develop
